
html{
  font-size: 10px;
  font-family: sans-serif;
}

body {
  margin: 0;
}


/*
  sections style
*/

section{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: whitesmoke;
}

section#section-1{
  background: #845ec2;
  
}
section#section-2{
  background: #d65db1;
}
section#section-3{
  background: #ff6f91;
}
section#section-4{
  background: #ff9671;
}

