
html{
  font-size: 10px;
  font-family: sans-serif;
}

body {
  margin: 0;
}


/*
  nav style
*/
header{
  width: 100%;
  position: fixed;
  display: flex;
  align-items: flex-start;
  font-size: 2rem;
}

header > span{
  border: 2px solid black;
}

nav{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
}

nav > span {
  padding: 5px 5px;
  border: 2px solid black;
  margin-right:50px;
}


/*
  sections style
*/

section{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: whitesmoke;
}

section#section-1{
  background: #845ec2;
  
}
section#section-2{
  background: #d65db1;
}
section#section-3{
  background: #ff6f91;
}
section#section-4{
  background: #ff9671;
}


/********************/
/*  TABLETS  */
@media screen and (min-width: 481px) and (max-width: 1024px){
  nav {
    justify-content: space-around;
    margin: 0;
  }
  nav > span{
    margin: 0;
  }

}

/*  PHONES  */
@media screen and (max-width: 480px){
  nav{
    margin-left: 10px;
    flex-direction: column;
    flex: 0;
  }
  nav > span {
    margin:0;

  }
}