
html{
  font-size: 10px;
  font-family: sans-serif;
}

body {
  margin: 0;
}


/*
  nav style
*/
header{
  z-index: 100;
  position: fixed;
  height: 56px;
  width: 100%;
  top: -64px; /*because of shadow*/
  transition: top 0.4s ease-out;
  display: -webkit-flex; 
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  font-size: 1.8rem;
  background: #8EB8B9;
  box-shadow: 0 0 8px #737373;
  /* background: #fff;
  color: #9C27B0; */
}

header.hovered, 
header.visible{
  top: 0;
}

#menu-button{
  /* display:none; */
  /* flex: 1;  */
  position: fixed;
  z-index: 110;
  top: 10px;
  left: 10px;
  height: 36px;
  width: 36px;
  background: rgba(142, 184, 185, 0.8);
  background-image: url("../assets/menu.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
  /* color: #1B9AAA; */
  cursor: pointer;
  /* padding: 5px 0; */
  /* border: 2px solid black; */
}

#menu-button.pinned {
  background-image: url("../assets/close.svg");
}

nav{
  /* -webkit-flex:1; */
  /* flex: 1; */
  display: -webkit-flex; 
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  /* margin-left: 60px; */
}

nav > span {
  /* padding: 5px 5px; */
  /* border: 2px solid black; */
  margin-right: 20px;
  padding: 8px 4px;
  color: #ededf0;
  border-bottom: 2px solid transparent;
  font-variant: small-caps;
  cursor: pointer;
}


nav > span:hover {
  border-bottom: 2px dotted #ededf0;
}

nav > span.active{
  color: #fff;
  text-shadow: 0 0 1px #f9f9fa;
  border-bottom: 2px solid #fff;
}

/*
  sections style
*/

section{
  width: 100%;
  height: 100vh;
  transition: height 0.5s ease-in;
  /* relative position, so children can have absolute position */
  position: relative; 
  /* display: -webkit-flex; 
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; */
  color: whitesmoke;
}

section .wrap{
  box-sizing: border-box;
  position: absolute;
  margin: 8px 8px 0;
  padding: 0 2rem;
  max-width: 600px;
  /* 60px = top border next button, 56px = height header*/
  max-height: calc(100% - 60px - 56px - 8px);
}
section p {
  font-family: sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: justify;
}
section h1{
  font-size: 2.4rem;
}

section.s1{
  /* background: #845ec2; */
  background: url("../assets/bg-01.jpg") no-repeat 60% center;
  
}
section.s1 .wrap{
  top: 56px;
  left: calc(50% - 22px);
  /* margin: 8px 8px 0 0; */
  /* background: rgba(0,0,0,0.3); */
  /* background: rgba(124, 96, 50, 0.4); */
  background: rgba(255, 255, 241, 0.50);
  color: #0c0c0d;
}

section.s2{
  background: url("../assets/bg-02.jpg") no-repeat 60% center;
}
section.s2 .wrap{
  top: 56px;
  right: calc(50% - 22px);
  /* margin: 8px 0 0 8px; */
  /* background: rgba(0,0,0,0.5); */
  /* background: rgba(106, 136, 130, 0.8); */
  /* background: rgba(124, 96, 50, 0.8); */
  background: rgba(255, 255, 241, 0.85);
  color: #0c0c0d;
}

section.s3{
  background: url("../assets/bg-03.jpg") no-repeat 60% center;
}
section.s3 .wrap{
  top: 56px;
  right: calc(50% - 300px);
  /* background: rgba(0,0,0,0.3); */
  background: rgba(255, 255, 241, 0.75);
  color: #0c0c0d;
}

section.s4{
  background: #ff9671;
}
section.s5{
  background: #1180AE;
}

/*
  go Top button
*/
div#go-top {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  position: fixed;
  right: 30px;
  bottom: 16px;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: pink;
}
div#go-top.visible{
  visibility: visible;
  opacity: 1;
}

/*
  Next section buttons
*/
span.next {
  display: block;
  width: 44px;
  height: 24px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 22px);
  padding: 5px 0;
  text-align: center;
  cursor: pointer;  
  font-size: 1.8rem;
  border: 2px solid whitesmoke;
  color:whitesmoke;
  background: rgba(0,0,0,0.4);
}



/********************/

/*  TABLETS  */
@media screen and (min-width: 561px) and (max-width: 1024px){
  
  nav {
    margin: 0;
    margin-left: 50px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  nav > span{
    margin: 0;
  }

  /* section content wrappers */
  section.s1 .wrap{
    left: auto;
    right: 0;
    margin: 8px 8px 0;
  }
  section.s2 .wrap{
    right: auto;
    left: 0;
    margin: 8px 8px 0;
  }
  section.s3 .wrap{
    margin: 8px 0 0;
    width: 600px;
    max-width: calc(100% - 16px);
    right: 50%;
    transform: translate(calc(50%));
  }
  
}

/*  PHONES  */
@media screen and (max-width: 560px){
  header {
    width: 240px;
    height: auto;
    display: -webkit-flex; 
    display: flex;
    top: 0;
    left: -248px; /* because of shadow*/
    transition: left 0.4s ease-out;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  header.visible{
    left: 0;
  }

  nav{
    margin: 0 20px 16px 60px;
    -webkit-flex-direction: column;
    flex-direction: column;;
  }

  nav > span {
    margin:0;
    margin: 8px 0;
    padding-right: 16px;
    text-align: right;
    line-height: 1.5;
    border: none;
    border-right: 3px solid transparent;
    /* border: 1px solid black; */
  }

  nav > span:hover {
    border: none;
    border-right: 3px dotted #ededf0;
  }
  
  nav > span.active{
    border: none;
    border-right: 3px solid #fff;
  }

  /* section content wrappers */
  section.s .wrap{
    left: auto;
    right: auto;
    margin: 0 8px 0;
    max-width: 100%;
    font-size: 10px;
  }
}