
html{
  font-size: 10px;
  font-family: sans-serif;
}

body {
  margin: 0;
}


/*
  nav style
*/
header{
  z-index: 100;
  position: fixed;
  height: 56px;
  width: 100%;
  top: -64px; /*because of shadow*/
  transition: top 0.4s ease-out;
  display: -webkit-flex; 
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  font-size: 1.8rem;
  background: #fceaf2;
  box-shadow: 0 0 8px #737373;
  /* background: #fff;
  color: #9C27B0; */
}

header.hovered, 
header.visible{
  top: 0;
}

#menu-button{
  /* display:none; */
  /* flex: 1;  */
  position: fixed;
  z-index: 110;
  top: 10px;
  left: 10px;
  height: 36px;
  width: 36px;
  background: rgba(252, 234, 242, 0.5);
  background-image: url("../assets/menu.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
  /* color: #1B9AAA; */
  cursor: pointer;
  /* padding: 5px 0; */
  /* border: 2px solid black; */
}

#menu-button.pinned {
  background-image: url("../assets/close.svg");
}

nav{
  /* -webkit-flex:1; */
  /* flex: 1; */
  display: -webkit-flex; 
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  /* margin-left: 60px; */
}

nav > span {
  /* padding: 5px 5px; */
  /* border: 2px solid black; */
  margin-right: 20px;
  padding: 8px 4px;
  color: #20b5c7;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}


nav > span:hover {
  border-bottom: 2px solid #20b5c7;
}

nav > span.active{
  color: #1B9AAA;
  text-shadow: 1px 1px 1px#1B9AAA;
  border-bottom: 2px solid #1B9AAA;
}

/*
  sections style
*/

section{
  width: 100%;
  height: 100vh;
  transition: height 0.5s ease-in;
  /* relative position, so children can have absolute position */
  position: relative; 
  display: -webkit-flex; 
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 6rem;
  color: whitesmoke;
}

section.s1{
  background: #845ec2;
  
}
section.s2{
  background: #d65db1;
}
section.s3{
  background: #ff6f91;
}
section.s4{
  background: #ff9671;
}
section.s5{
  background: #1180AE;
}

/*
  go Top button
*/
div#go-top {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  position: fixed;
  right: 30px;
  bottom: 16px;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: pink;
}
div#go-top.visible{
  visibility: visible;
  opacity: 1;
}

/*
  Next section buttons
*/
span.next {
  display: block;
  width: 44px;
  height: 24px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 22px);
  padding: 5px 0;
  text-align: center;
  cursor: pointer;  
  font-size: 1.8rem;
  border: 2px solid black;
  color:black;
}



/********************/

/*  TABLETS  */
@media screen and (min-width: 561px) and (max-width: 1024px){
  
  nav {
    margin: 0;
    margin-left: 50px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  nav > span{
    margin: 0;
  }

}

/*  PHONES  */
@media screen and (max-width: 560px){
  header {
    width: 240px;
    height: auto;
    display: -webkit-flex; 
    display: flex;
    top: 0;
    left: -248px; /* because of shadow*/
    transition: left 0.4s ease-out;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  header.visible{
    left: 0;
  }

  nav{
    margin: 0 20px 16px 60px;
    -webkit-flex-direction: column;
    flex-direction: column;;
  }

  nav > span {
    margin:0;
    margin: 8px 0;
    padding-right: 16px;
    text-align: right;
    line-height: 1.5;
    border: none;
    border-right: 3px solid transparent;
    /* border: 1px solid black; */
  }

  nav > span:hover {
    border: none;
    border-right: 3px solid #20b5c7;
  }
  
  nav > span.active{
    border: none;
    border-right: 3px solid #1B9AAA;
  }

}